<% provide(:title, 'Home') %>

  <div class="center hero-unit">
    <h1>Sportiveworld</h1>
    <h2>
      This is the web application for stats of players and teams in sportiveworld's leagues
    </h2>
  </div>
